:root {
	--font-primary: 'Montserrat', sans-serif;
	--color-title: #babcc0;
	--color-white: #ffffff;
	--color-button: #39cab7;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-primary);
	font-size: 62.5%;
}

body {
	min-width: 320px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(
		to right,
		#161a42,
		#1e2351,
		#272c62,
		#2f3572,
		#383f83
	);
	background-repeat: no-repeat;
}

.main {
	width: 100%;
	min-width: 320px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 20px;
}

.container {
	min-width: 320px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.container-title {
	margin-bottom: 10px;
	font-size: 1.8rem;
	color: var(--color-title);
}

h1 {
	margin: 10px;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-white);
}

.container-button {
	height: 34px;
	width: auto;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	outline: none;
	border: none;
	border: 2px solid var(--color-button);
	border-radius: 25px;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	background-color: var(--color-button);
	animation: latido 0.9s infinite alternate;
}

.container-button:hover {
	background-color: var(--color-button);
	color: var(--color-white);
	transition: 0.2s ease-in-out;
}
.container-button:active {
	transform: scale(0.9);
	transition: 0.4s ease-in-out;
}

.container-link {
	margin-top: 20px;
	font-size: 1.4rem;
	color: var(--color-title);
}
.hidden-elements {
	display: none;
}

@keyframes latido {
	0% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(0.7);
	}
}
/* -- Media Querys -- */

@media screen and (min-width: 426px) {
	.container-title {
		font-size: 2rem;
	}

	h1 {
		margin: 20px;
		font-size: 2.4rem;
	}

	.container-button {
		height: 38px;
		font-size: 1.8rem;
		padding-bottom: 20px;
	}

	.container-link {
		margin-top: 30px;
		font-size: 1.6rem;
	}
}
